<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConnectionTestMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRoomMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameplayMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRelationshipMgt">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerMgt"
                contract="GameService.IPlayerMgt" name="NetTcpBinding_IPlayerMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConnectionTestMgt"
                contract="GameService.IConnectionTestMgt" name="NetTcpBinding_IConnectionTestMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatMgt"
                contract="GameService.IChatMgt" name="NetTcpBinding_IChatMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomMgt"
                contract="GameService.IRoomMgt" name="NetTcpBinding_IRoomMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailMgt"
                contract="GameService.IEmailMgt" name="NetTcpBinding_IEmailMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameplayMgt"
                contract="GameService.IGameplayMgt" name="NetTcpBinding_IGameplayMgt" />
            <endpoint address="net.tcp://192.168.35.191:8081/ChinesseCheckersServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRelationshipMgt"
                contract="GameService.IRelationshipMgt" name="NetTcpBinding_IRelationshipMgt" />
        </client>
    </system.serviceModel>
</configuration>